/* .hover-button {
  width: 40px;
  height: 40px;
}
.fake-nav-list {
  opacity: 0;
  display: flex;
  flex-flow: row;
}
.fake-nav-list li {
  margin: 0;
  margin-left: -10px;
  transition: all 1000ms ease-in;
}
.hover-button:hover .fake-nav-list, .hover-button:hover .fake-nav-list li{
  opacity: 1;
  margin: 0 70px;
} */
