#video-container {
  position: relative;
  width: 100%;
}

.filler {
  display: flex;
  padding: 20px 0;
  flex-flow: column;
  margin: 0 auto;
  width: 90vw;
  height: calc(90vw * 9 / 16);
  overflow: hidden;
}

.shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
#locus-video {
  margin: 0 auto;
  position: relative;
  left: 50%;
  translate: -50%;
  width: 100%;
}
#welcome {
  position: absolute;
  max-width: 100vw;
  overflow-x: hidden;
  z-index: 2;
  top: 45%;
  left: 50%;
  color: var(--default-text-color);
  translate: -50%;
  h1 {
    font-size: clamp(25px, 5vw, 100px);
    text-transform: uppercase;
    text-align: center;
  }
  h2 {
    font-size: clamp(18px, 3vw, 80px);
    text-align: center;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}
