:root {
  --font-family: sans-serif;
  --transition: all 90ms linear;
}
* {
  font-family: var(--font-family);
}
body {
  margin: 0;
  padding: 0;
}

/**********/
/* Header */
/**********/
.header {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 100vw;
}
.nav__button {
  position: relative;
  margin: 20px;
  margin-left: calc(100vw - 40px);
  width: 25px;
  height: 20px;
  border: none;
  background-color: transparent;
  transition: var(--transition);
  .nav__logo {
    opacity: 1;
    position: relative;
    transition: all 100ms ease;
    .line {
      position: absolute;
      background-color: rgb(255, 255, 255);
      width: 22px;
      height: 2px;
      margin: auto;
      border-radius: 10px;
      left: -2px;
      transition: var(--transition);
      box-shadow: 0 0 20px 1px white;
    }
    .line-1 {
      top: -8px;
    }
    .line-2 {
      top: 0px;
    }
    .line-3 {
      top: 8px;
    }
    .line-2.open {
      opacity: 0;
    }
    .line-1.open {
      top: 0;
      transform: rotate(45deg);
    }
    .line-3.open {
      top: 0;
      transform: rotate(-45deg);
    }
  }
}

.nav__button {
  .nav {
    position: absolute;
    top: 0;
    left: -40px;
    z-index: 999;
    .nav-list {
      display: flex;
      flex-flow: column;
      align-items: flex-end;
      width: 35px;
      list-style: none;
      transition: var(--transition);
      .nav-list-item {
        opacity: 0;
        box-sizing: border-box;
        padding: 0px;
        margin-bottom: -17px;
        transition: var(--transition);
        width: 90px;
        a {
          line-height: 10px;
        }
      }
      .nav-list-item.open {
        padding: 12px 0;
        opacity: 1;
      }
    }
  }
}
.nav-list-item a,
.nav-list-item a:active {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-shadow: 0 1px 15px rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
}
.nav-list-item:hover {
  transform: scale(1.1);
}

.socials {
  position: relative;
  .socials-list {
    top: 0;
    left: 0;
    width: 90px;
    height: 200px;
    position: absolute;
    margin-left: -100px;
    list-style: none;
    .socials-list-item img {
      width: 20px;
      height: 20px;
    }
  }
}
/**********/
/* Filler */
/**********/
.filler {
  min-height: calc(100vh - 230px);
}
/**********/
/* Footer */
/**********/
#social-links-copyright-and-contact {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  div {
    margin: 10px;
  }
}
.footer-socials {
  height: 10px;
  transition: var(--transition);
  .socials-list {
    display: flex;
    flex-flow: row;
    list-style: none;
  }
}
.footer-socials .socials-list-item {
  padding: 0 20px;
  transition: var(--transition);
}
.footer-socials .socials-list-item:hover {
  transform: scale(1.2);
}
.footer-socials .socials-list-item img {
  margin: 0 -10px;
  width: 20px;
  height: 20px;
}
.footer-right {
  transition: var(--transition);
  a {
    text-decoration: none;
    color: black;
  }
}
.footer-right:hover {
  transform: scale(1.1);
}
#subscribe {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: grey;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  box-shadow: 0 0 5px 1px rgb(58, 58, 58);
  margin: 0 auto;
  p {
    text-align: center;
    display: block;
    margin: 0 20px 20px 20px;
    color: var(--default-text-color);
  }
  input {
    width: calc(90% / 2);
    min-width: 150px;
    margin: 5px 0;
  }
  #submit {
    width: 60px;
    min-width: unset;
  }
}

@media only screen and (min-width: 600px) {
  .nav__button {
    margin-left: 20px;
    transform: rotate(360deg);
    .nav__logo {
      opacity: 0;
      transition: all 100ms ease;
    }
    .nav {
      position: absolute;
      top: 0px;
      left: 0px;
      opacity: 1;
      transition: var(--transition);
      .nav-list {
        position: absolute;
        left: 0;
        opacity: 1;
        display: flex;
        flex-flow: row;
        align-items: center;
        width: 0vw;
        height: 5px;
        list-style: none;
        .nav-list-item {
          display: block;
          opacity: 0;
          box-sizing: border-box;
          padding: 0;
        }
      }
    }
  }
  .nav__button {
    .nav {
      .nav-list {
        width: 90vw;
        .nav-list-item {
          flex-grow: 1;
          opacity: 1;
        }
      }
    }
  }
  /**********/
  /* Filler */
  /**********/
  .filler {
    min-height: calc(100vh - 70px);
  }
  /**********/
  /* Footer */
  /**********/
  #social-links-copyright-and-contact {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80vw;
    div {
      margin: 0 40px;
      white-space: nowrap;
    }
  }
  .footer-socials {
    position: relative;
    height: 50px;
    margin-top: 10px;
    .socials-list {
      position: absolute;
      top: 10px;
      left: -80px;
      display: flex;
      margin: auto;
      list-style: none;
    }
  }
  .footer-socials .socials-list-item {
    list-style-position: outside;
    padding: 5px 20px;
  }
  .footer-socials .socials-list-item img {
    /* margin-left: -30px; */
    width: 20px;
    height: 20px;
  }
}
