:root {
  --default-text-color: black;
  --font-family: sans-serif;
  --transition: all 90ms linear;
}
* {
  font-family: var(--font-family);
}
body {
  margin: 0;
  padding: 0;
}

/**********/
/* Header */
/**********/
.header {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 100vw;
  z-index: 10;
}
.nav__button {
  right: 10px;
  cursor: pointer;
  position: relative;
  margin: 20px;
  margin-left: calc(100vw - 40px);
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
  transition: var(--transition);
  .nav__logo {
    opacity: 1;
    position: relative;
    left: 7px;
    top: 13px;
    transition: all 100ms ease;
    cursor: pointer;
    .line {
      position: absolute;
      background: black;
      width: 22px;
      height: 2px;
      margin: auto;
      border-radius: 10px;
      left: -2px;
      transition: var(--transition);
      /* box-shadow: 0 0 20px 1px white; */
    }
    .line-1 {
      top: -8px;
    }
    .line-2 {
      top: 0px;
    }
    .line-3 {
      top: 8px;
    }
    .line-2.open {
      opacity: 0;
    }
    .line-1.open {
      top: 0;
      transform: rotate(45deg);
    }
    .line-3.open {
      top: 0;
      transform: rotate(-45deg);
    }
  }
}

.nav__button {
  .nav {
    position: relative;
    translate: -120px 10px;
    padding: 10px;
    width: 140px;
    padding: 10px;
    transition: var(--transition);
    z-index: 999;
    .nav-list {
      display: flex;
      flex-flow: column;
      align-items: end;
      list-style: none;
      transition: var(--transition);
      .nav-list-item {
        opacity: 0;
        box-sizing: border-box;
        padding: 0px;
        margin-bottom: -17px;
        transition: var(--transition);
        cursor: pointer;
        /* width: 90px; */
        a {
          line-height: 10px;
        }
      }
      .nav-list-item.open {
        padding: 12px 0;
        opacity: 1;
      }
    }
  }
}
.nav-list-item {
  font-size: 24px;
}
.nav-list-item a,
.nav-list-item a:active {
  text-decoration: none;
  color: var(--default-text-color);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.nav-list-item:hover {
  transform: scale(1.1);
}
.nav.open {
  background: rgba(255, 255, 255, 0.537);
}
.nav__about {
  position: relative;
}
.dropdown {
  margin-top: -10px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 100ms ease, visibility 100ms ease;
  list-style: none;
  font-size: 16px;
  z-index: 1000;
  text-align: left;
}

.nav__about:hover .dropdown,
.dropdown:hover {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.dropdown li {
  transform: translateX(40%);
  line-height: 50px;
  padding: 5px 10px;
  z-index: 1000;
}
.dropdown li:hover {
  transform: translateX(40%) scale(1.1);
}

.socials {
  position: relative;
  .socials-list {
    top: 0;
    left: 0;
    width: 90px;
    height: 200px;
    position: absolute;
    margin-left: -100px;
    list-style: none;
    .socials-list-item img {
      width: 20px;
      height: 20px;
    }
  }
}

/* ****** */
/* Footer */
/* ****** */
.footer {
  width: 92vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 1em;
}
.footer-left,
.footer-right {
  flex: 1;
  max-width: 50%;
  min-width: 50%;
  box-sizing: border-box;
}
.footer-left {
  padding: 0;
  margin: 0;
  width: 66%;
}
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 34%;
}
.footer-right a {
  color: var(--default-text-color);
  text-decoration: none;
}
.contact {
  color: var(--default-text-color);
  font-weight: bolder;
}
.footer-socials {
  margin-top: 1em;
  transition: var(--transition);
  .socials-list {
    display: flex;
    flex-flow: row;
    list-style: none;
  }
}
.footer-socials .socials-list-item {
  padding: 0 20px;
  transition: var(--transition);
}
.footer-socials .socials-list-item:hover {
  transform: scale(1.2);
}
.footer-socials .socials-list-item img {
  margin: 0 -10px;
  width: 20px;
  height: 20px;
  filter: grayscale(1) contrast(1.7) brightness(1.3);
}
form {
  display: flex;
  flex-flow: row;
}
#subscribe {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
}
#subscribe p {
  font-weight: bolder;
  margin: 0;
  color: var(--default-text-color);
}
#subscribe input {
  padding: 5px;
  min-width: 100px;
  margin: 0;
}
.copyright {
  position: relative;
  transform: translateY(-100%);
  font-size: 12px;
  text-transform: uppercase;
}

@media only screen and (min-width: 600px) {
  .nav__button {
    margin-left: 20px;
    transform: rotate(360deg);
    .nav__logo {
      opacity: 0;
      transition: all 100ms ease;
    }
    .nav {
      position: absolute;
      translate: unset;
      top: 0px;
      left: 0px;
      opacity: 1;
      transition: var(--transition);
      .nav-list {
        position: absolute;
        left: 0;
        opacity: 1;
        display: flex;
        flex-flow: row;
        align-items: center;
        width: 0vw;
        height: 5px;
        list-style: none;
        .nav-list-item {
          display: block;
          opacity: 0;
          box-sizing: border-box;
          padding: 0;
        }
      }
    }
  }
  .nav__button {
    .nav {
      .nav-list {
        width: 90vw;
        .nav-list-item {
          flex-grow: 1;
          opacity: 1;
        }
      }
    }
  }
}
