#tool {
  background: rgb(255, 255, 255);
  min-height: 10px;
  min-width: 10px;
}

:root {
  --body-background-color: rgb(255, 255, 255);
  --text-color: black;
  --metronome-color: rgb(255, 255, 255);
  --stepper-color: black;
  --stepper-font-color: white;
  --box-shadow: 0 1px 6px 0px rgba(0, 0, 0, 0.5);
  --border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  box-sizing: border-box;
  color: var(--text-color);
}

body {
  background-color: var(--body-background-color);
  max-width: 100vw;
}

.full-page-height-div {
  min-height: calc(100vh - 250px);
  height: fit-content;
  padding: 20px 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* ******************* */
/* General text Styles */
/* ******************* */
h1 {
  text-align: center;
  display: block;
  line-height: 50px;
}
h2 {
  text-align: center;
  display: block;
}

#toolSelector {
  margin: 10px;
  margin-left: 60px;
  width: fit-content;
}

#toolSelector:focus {
  outline: black;
}

/* ********************************** */
/* Metronome containers and structure */
/* ********************************** */
.metronome-container {
  background-color: var(--metronome-color);
  max-width: 100vw;
  width: 600px;
  /* height: 600px; */
  margin: 10px auto;
  /* box-shadow: var(--box-shadow); */
  border-radius: var(--border-radius);
}
/* .metronome-inner-wrapper {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0;
} */

/* ************** */
/* Metronome text */
/* ************** */
.metronome-inner-wrapper p {
  display: block;
  max-width: 180px;
}

/* ******************* */
/* Repertoire selector */
/* ******************* */
#repertoire-selector {
  width: fit-content;
  height: 40px;
  font-size: 20px;
  border-radius: var(--border-radius);
  padding: 5px;
  text-align: center;
}

/* ************* */
/* Tempo section */
/* ************* */
.tempo-display {
  font-size: 24px;
  font-weight: 600;
  background: whitesmoke;
  padding: 8px;
  min-height: 40px;
  max-height: 40px;
  display: inline-block;
  border-radius: var(--border-radius);
}
.tempo-change-container {
  margin: 0 auto;
  display: flex;
}
.tempo-slider {
  appearance: none;
  background-color: transparent;
  margin: 10px 0;
  width: 100px;
  padding: 0 10px;
}
.tempo-slider::-webkit-slider-thumb {
  appearance: none;
}
.tempo-slider:focus {
  outline: none;
}
.tempo-slider::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  margin-top: -9px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
}
.tempo-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  margin-top: -9px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
}
.tempo-slider::-webkit-slider-runnable-track {
  width: 100px;
  height: 1px;
  background-color: blueviolet;
}
.tempo-slider::-moz-range-track {
  width: 100px;
  height: 1px;
  background-color: blueviolet;
}
.tempo-button-container,
.repertoire-tempos-container {
  display: grid;
  width: 70%;
  grid: auto / repeat(8, 1fr);
  border-radius: var(--border-radius);
  height: 100px;
  overflow: scroll;
  border: 1px solid black;
  box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.23);
  background: rgba(255, 255, 255, 0.394);
}
.common-tempos-container {
  position: relative;
  display: flex;
  gap: 30px;
  flex-flow: row nowrap;
  flex: 0 0 25px;
  overflow-x: scroll;
  background: rgb(146, 169, 164);
  width: 60%;
  align-items: center;
  scrollbar-width: none;
  cursor: grab;
  /* box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.419); */
  overflow-y: hidden;
}

.common-tempos-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 750%;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0.4)
  );
  z-index: 1;
}

.common-tempo {
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 40px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 1.2rem;
  height: 40px;
  text-align: center;
  background: #eeeeee7a;
}

.common-tempo:first-of-type {
  margin-left: 30px;
}
.common-tempo:last-of-type {
  margin-right: 30px;
}

.common-tempos-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.common-tempos-container .common-tempo:hover {
  background: #ccc;
}

/* End GPT Code */

.tempo-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.tempo-button:active {
  background: lightgray;
  box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.tempo-button-item {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid grey;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
}
.delete {
  position: absolute;
  top: 0;
  right: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: transparent;
  border: none;
  width: 17%;
  margin: 3px;
  line-height: 17%;
}
.close-button rect {
  fill: black;
}

#save-user-tempi {
  cursor: pointer;
  width: 20%;
  height: 30px;
  border-radius: var(--border-radius);
  border: 1px solid black;
  background-color: white;
}

/* ************************************* */
/* Hide spinners from number input field */
/* ************************************* */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.tempo-tap {
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background: yellow;
}
.tempo-tap:active {
  box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}

#user-tempo {
  background-color: rgba(250, 235, 215, 0.262);
  width: 20%;
  height: 40px;
  text-align: center;
  padding: 3px;
  border-radius: var(--border-radius);
}
.start-stop {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  max-width: 100%;
  max-height: 100%;
  background-color: red;
  margin: 10px 0;
  font-size: 20px;
}
.tempo-section {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 20px;
  height: 40px;
  margin-top: 30px;
}
.tapper_play-button {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: red;
  font-size: 20px;
}
.svg {
  width: 100%;
  height: 100%;
}
.subdiv-container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
.stepper {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--stepper-color);
  color: var(--stepper-font-color);
  cursor: pointer;
}
.subdiv-display {
  line-height: 20px;
  display: block;
  padding: 0 10px;
}
.running {
  background-color: rgb(110, 171, 17);
}
.is-playing {
  border: 2px solid rgb(225, 72, 72);
  box-shadow: 0 0 50px 50px rgba(72, 220, 225), 1;
}
.instructions {
  width: 600px;
  border: 1px solid black;
  padding: 10px;
  border-radius: var(--border-radius);
  font-size: 14px;
  margin: 10px auto;
}
.instructions p {
  font-family: serif;
}

/* *********** */
/* Tap Section */
/* *********** */
.tap-section {
  background-color: var(--metronome-color);
  max-width: 100vw;
  width: 600px;
  /* height: 600px; */
  margin: 10px auto;
  /* box-shadow: var(--box-shadow); */
  border-radius: var(--border-radius);
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
}
.tap-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: rotate(30deg);
  background: yellow;
  & svg {
    margin-top: 18px;
    margin-left: 7px;
  }
}
.tap-button:active {
  background: greenyellow;
  box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.551);
}
.tap-results {
  height: 150px;
  width: 400px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.268);
  border: 1px solid black;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.tap-results--text {
  margin: auto;
}
.tempo-markings {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
table {
  margin: 10px;
}
td,
th {
  vertical-align: top;
  padding: 10px;
  border-bottom: 1px solid black;
}
.tempo-number {
  cursor: pointer;
}
.tool {
  grid-area: b;
}
.tempi {
  grid-area: a;
}
.examples {
  grid-area: c;
}
.tempi,
.examples {
  max-height: unset;
}

@media only screen and (min-width: 1100px) {
  .full-page-height-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "a b c";
  }
  .tempi,
  .examples {
    max-height: 80vh;
    overflow: scroll;
  }
  .tempi,
  .examples,
  .tool {
    margin-bottom: auto;
  }
}
