:root {
  --background-color: rgb(221, 229, 225);
  --default-font-family: arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: var(--background-color);
  overflow-x: hidden;
}
body * {
  font-family: var(--default-font-family);
}
