body {
  display: flex;
  flex-flow: column;
  margin: 0;
  overflow-x: hidden;
}
.conducting {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("../assets/photos/conducting-headshot.webp");
  background-size: cover;
  background-position: left bottom;
  transition: opacity 1000ms ease;
}
.conducting-link:hover {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.157);
}

@media only screen and (min-width: 900px) {
  .conducting {
    background-position-y: 15%;
  }
}

/* meter {
  margin: 0 auto;
  width: 15em;
  height: 3em;
  background: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewbox="0, 0, 100, 300"><text font-size="100" y=".5em" opacity=".2">⋆</text></svg>')
    0 / auto 100%;
  background-color: none;
}
meter::-webkit-meter-optimum-value {
  background: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewbox="0, 0, 100, 300"><text font-size="100" y=".5em">⋆</text></svg>')
    0 / auto 100%;
} */
